.gallery {
  max-width: 100%;
}

.gallery .gallery-controls {
  display: none;
  /*display: flex;*/
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.gallery .gallery-selector > input {
  opacity: 0;
}

.gallery .gallery-selector .gallery-thumbnail {
  opacity: 0.6;
  filter: saturate(0%);

  transition: 0.3s ease-in;
}

.gallery .gallery-selector > input[type="radio"]:checked + .gallery-thumbnail {
  opacity: 1;
  filter: initial;
}

.gallery .gallery-selector:hover > .gallery-thumbnail {
  opacity: 0.8;
  filter: saturate(30%);
}

.gallery .gallery-picture {
  margin: 5px auto;
}

