{% macro gallery_content(page, gallery) -%}
    <div class="ui segment gallery-canvas">
        <nav class="gallery-controls">
        {% for asset in page.assets | sort %}
            {% if asset is matching("images/[0-9]+\.(gif|jpg|jpeg|webp)") %}
                {% set thumb = resize_image(path=asset, height=100, op="fit_height") %}
                <label class="gallery-selector" for="g-s-{{ loop.index }}">
                    <input name="gallery" id="g-s-{{ loop.index }}" type="radio" />
                    <img class="gallery-thumbnail" src="{{ thumb.url }}" data-target="g-p-{{ loop.index }}" />
                </label>
            {% endif %}
        {% endfor %}
        </nav>
        <div class="gallery-display">
        {% for asset in page.assets | sort %}
            {% if asset is matching("images/[0-9]+\.(gif|jpg|jpeg|webp)") %}
                <img class="ui centered image gallery-picture" src="{{ get_url(path=asset) }}" id="g-p-{{ loop.index }}" data-thumbnail="g-s-{{ loop.index }}" />
            {% endif %}
        {% endfor %}
        </div>
    </div>
{%- endmacro %}

{% macro gallery_style() -%}
    <link rel="stylesheet" href="/css/gallery.css" />
{%- endmacro %}

{% macro gallery_script() -%}
    <script type="text/javascript"></script>
{%- endmacro %}

