{% macro gallery(page, gallery) -%}
<section class="gallery">
    <div class="gallery__item">
        <input type="radio" id="img-1" checked name="gallery" class="gallery__selector" />
        <img class="gallery__img" src="https://picsum.photos/id/1015/600/400.jpg" alt="" />
        <label for="img-1" class="gallery__thumb"><img src="https://picsum.photos/id/1015/150/100.jpg" alt="" /></label>
    </div>
    <div class="gallery__item">
        <input type="radio" id="img-2" name="gallery" class="gallery__selector" />
        <img class="gallery__img" src="https://picsum.photos/id/1039/600/400.jpg" alt="" />
        <label for="img-2" class="gallery__thumb"><img src="https://picsum.photos/id/1039/150/100.jpg" alt="" /></label>
    </div>
    <div class="gallery__item">
        <input type="radio" id="img-3" name="gallery" class="gallery__selector" />
        <img class="gallery__img" src="https://picsum.photos/id/1057/600/400.jpg" alt="" />
        <label for="img-3" class="gallery__thumb"><img src="https://picsum.photos/id/1057/150/100.jpg" alt="" /></label>
    </div>
    <div class="gallery__item">
        <input type="radio" id="img-4" name="gallery" class="gallery__selector" />
        <img class="gallery__img" src="https://picsum.photos/id/106/600/400.jpg" alt="" />
        <label for="img-4" class="gallery__thumb"><img src="https://picsum.photos/id/106/150/100.jpg" alt="" /></label>
    </div>
</section>
{#
<div class="carousel">
    {% set_global first_iter = true %}
    {% for asset in page.assets -%}
    {% if asset is matching(gallery ~ "\-[0-9]+\.(jpg|jpeg|png|webp)$") -%}
    {% set picture = get_image_metadata(path=asset) %}
    {%- endif %}
    {% if picture %}
    <input type="radio" id="image-{{ loop.index }}" name="gallery-control" {% if first_iter -%} checked {%- endif %}>
    {% set_global first_iter = false %}
    {% endif %}
    {%- endfor %}
    <input type="checkbox" id="image-fullscreen" name="gallery-fullscreen-control" />

    <div class="wrap">
        {% for asset in page.assets -%}
        {% if asset is matching(gallery ~ "\-[0-9]+\.(jpg|jpeg|png|webp)$") -%}
        {% set picture = get_image_metadata(path=asset) %}
        {% if picture and picture.width > picture.height %}
        {% set picture_big = resize_image(path=asset, width=1440, height=810, op="fit") %}
        {% set picture_medium = resize_image(path=asset, width=1024, height=576, op="fit") %}
        {% set picture_small = resize_image(path=asset, width=640, height=360, op="fit") %}
        {% elif picture %}
        {% set picture_big = resize_image(path=asset, width=648, height=810, op="fit") %}
        {% set picture_medium = resize_image(path=asset, width=461, height=576, op="fit") %}
        {% set picture_small = resize_image(path=asset, width=288, height=360, op="fit") %}
        {% endif %}
        {%- endif %}
        {% if picture %}
        <figure>
            <label for="image-fullscreen">
                <img src="{{ picture_big.url }}"
                    srcset="{{ picture_big.url }} {{ picture_big.width }}w, {{ picture_medium.url }} {{ picture_medium.width }}w, {{ picture_small.url }} {{ picture_small.width }}w"
                    alt="Foto relacionada ao evento." />
            </label>
        </figure>
        {%- endif %}
        {%- endfor %}
    </div>

    <div class="thumbnails">
        <div class="slider">
            <div class="indicator"></div>
        </div>

        {% for asset in page.assets -%}
        {% if asset is matching(gallery ~ "\-[0-9]+\.(jpg|jpeg|png|webp)$") -%}
        {% set picture = get_image_metadata(path=asset) %}
        {% if picture and picture.width > picture.height %}
        {% set thumbnail = resize_image(path=asset, width=100, height=56, op="fill") %}
        {% elif picture %}
        {% set thumbnail = resize_image(path=asset, width=45, height=56, op="fill") %}
        {% endif %}
        {% endif %}
        {% if picture %}
        <label for="image-{{ loop.index }}" class="thumb" style="background-image: url('{{ thumbnail.url }}')"></label>
        {% endif %}
        {%- endfor %}
    </div>
</div>
#}
{%- endmacro %}

{% macro gallery_styles() -%}
<!-- Gallery based on https://lubna.dev/articles/create-css-only-image-gallery/ -->
<style type="text/css">
    .gallery * {
        box-sizing: border-box;
    }

    .gallery img {
        max-width: 100%;
        vertical-align: top;
    }

    .gallery {
        display: flex;
        justify-content: center;
        margin: 10px auto;
        max-width: 75vw;
        position: relative;
        padding-top: calc(80vh / 75vw * 100%);
    }

    @media screen and (min-width: 75vw) {
        .gallery {
            padding-top: 80vh;
        }
    }

    .gallery__img {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .gallery__thumb {
        padding-top: 6px;
        margin: 6px;
        display: block;
    }

    .gallery__selector {
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }

    .gallery__selector:checked+.gallery__img {
        opacity: 1;
    }

    .gallery__selector:checked~.gallery__thumb>img {
        box-shadow: 0 0 0 3px #0be2f6;
    }
</style>
{% endmacro %}