{% import 'macros/messages.html' as messages %}

{% macro render_section(section, level=1, is_root=true) -%}
{% set transparent = section.extra.transparent | default(value=false) %}
{% set transparent = section.transparent | default(value=transparent) %}
{% if not transparent %}
{% set section_pages = section.pages | length %}
<section class="column">
  {% if not is_root %}
  <header style="margin-bottom: 1em;">
    <h{{level}} class="ui {{ self::header_class(level=level) }} header">
      <a href="{{ section.permalink }}"
        title="{{ messages::entries_in_section(count=section_pages) }} - Clique para ver toda a seção">
        {{ section.title }}
        <div
          class="ui {% if is_root -%} bottom {%- else -%} left {%- endif %} pointing basic horizontal {% if section_pages == 0 -%} disabled {%- else -%} violet {%- endif %} label">
          <i class="file alternate icon"></i>
          {{ section_pages }}
        </div>
      </a>
    </h{{level}}>
  </header>
  {% endif %}
  <main style="margin-bottom: 1em;">
    <div class="ui bulleted list">{{ self::render_section_entries(section=section) }}</div>

    {{- self::render_subsections_of(section=section, level=level) }}
  </main>
</section>
{% endif %}
{%- endmacro %}

{% macro render_section_entries(section) -%}
{% for page in section.pages | slice(end=3) %}
{{ self::render_entry(entry=page) }}
{% endfor %}
{%- endmacro %}

{% macro render_subsections_of(section, level) -%}
{% if section.extra.summary_recurse %}
{% set nextlevel = level+1 %}
{% for subsec_path in section.subsections %}
{% set subsection = get_section(path=subsec_path) %}
{{ self::render_section(section=subsection, level=nextlevel, is_root=false) }}
{% endfor %}
{%- endif %}
{%- endmacro %}

{% macro render_entry(entry) -%}
<article class="item">
  <div class="content">
    <header class="header"><a href="{{ entry.permalink }}">{{ entry.title
        }}</a></header>
    <div class="description">{{ entry.description }}</div>
  </div>
</article>
{%- endmacro %}

{% macro header_class(level) -%}
{% if level == 0 %}
huge
{% elif level == 1 %}
large
{% elif level == 2 %}
small
{% else %}
tiny
{% endif %}
{%- endmacro %}

{% macro render_extra(project) -%}
{%- endmacro %}

{% macro render_meta(project) -%}
{% if project.extra.has_applicants %}
<div class="ui horizontal basic orange icon label" title="Existem interessados em colaborar com este projeto">
  <i class="user clock icon"></i>
</div>
{% else %}
<div class="ui horizontal basic green icon label" title="Este projeto ainda não conta com interessados">
  <i class="question circle icon"></i>
</div>
{% endif %}
{% if project.taxonomies.academic_level %}
<div class="ui right pointing horizontal basic grey label" title="Níveis acadêmicos compatíveis">
  <i class="user graduate icon"></i>
</div>
<div class="ui tiny horizontal divided list" style="margin-right: 1em;">
  {% for academic_level in project.taxonomies.academic_level %}
  <div class="item">{{ academic_level }}</div>
  {% endfor %}
</div>
{% endif %}
{% if project.taxonomies.area %}
<div class="ui right pointing horizontal basic grey label" title="Áreas associadas ao projeto">
  <i class="book reader icon"></i>
</div>
<div class="ui tiny horizontal divided list" style="margin-right: 1em;">
  {% for area in project.taxonomies.area %}
  <div class="item">{{ area }}</div>
  {% endfor %}
</div>
{% endif %}
{%- endmacro %}