{% import 'macros/messages.html' as messages %}

{% macro render_section(section, level=1, is_root=true) -%}
{% set transparent = section.extra.transparent | default(value=false) %}
{% set transparent = section.transparent | default(value=transparent) %}
{% if not transparent %}
<section class="column">
  <header style="margin: 0.5em 0;">
    <h{{level}} class="ui {{ self::header_class(level=level) }} header">
      <a href="{{ section.permalink }}">
        {% if not is_root %}
        <span title="Ver todas as entradas">{{ section.title }}</span>
        {% endif %}
        {% set section_pages = section.pages | length %}
        <div
          class="ui {% if is_root -%} bottom {%- else -%} left {%- endif %} pointing basic horizontal {% if section_pages == 0 -%} disabled {%- else -%} violet {%- endif %} label"
          title="{{ messages::entries_in_section(count=section_pages) }} - Clique para ver toda a seção">
          <i class="file alternate icon"></i>
          {{ section_pages }}
        </div>
      </a>
    </h{{level}}>
  </header>
  <main>
    <div class="ui bulleted list">{{ self::render_section_entries(section=section) }}</div>

    {{- self::render_subsections_of(section=section, level=level) }}
  </main>
</section>
{% endif %}
{%- endmacro %}

{% macro render_section_entries(section) -%}
{% for page in section.pages | slice(end=3) %}
{{ self::render_entry(entry=page) }}
{% endfor %}
{%- endmacro %}

{% macro render_subsections_of(section, level) -%}
{% if section.extra.summary_recurse %}
{% set nextlevel = level+1 %}
{% for subsec_path in section.subsections %}
{% set subsection = get_section(path=subsec_path) %}
{{ self::render_section(section=subsection, level=nextlevel, is_root=false) }}
{% endfor %}
{%- endif %}
{%- endmacro %}

{% macro render_entry(entry) -%}
<article class="item">
  <div class="content">
    <header class="header"><a href="{{ entry.permalink }}">{{ entry.title
        }}</a></header>
    <div class="description">{{ entry.description }}</div>
  </div>
</article>
{%- endmacro %}

{% macro header_class(level) -%}
{% if level == 0 %}
huge
{% elif level == 1 %}
large
{% elif level == 2 %}
small
{% else %}
tiny
{% endif %}
{%- endmacro %}