{% extends "titled_page.html" %}

{% block nav %}
{{ macros_nav::top_nav(website_title=config.title, extra_items=config.extra.menu_items, active_item=section.title) }}
{% endblock nav %}

{% block css_rules %}
  {{ super() }}

  section.listing {
     margin-top: 2em;
  }
{% endblock css_rules %}

{% block page_content %}
  {% if section.content %}
  <div class="text">
    {{ section.content | safe }}
  </div>
  {% endif %}
  
  {% for subsec_path in section.subsections -%}
  <section class="listing">
    {% set subsection=get_section(path=subsec_path) %}
    {% set subsection_pages=subsection.pages | length %}
    <header>
      <h1 class="ui large header">
        {{ subsection.title }}
        <div class="ui left pointing basic horizontal blue label"
          title="Existem {{ subsection_pages }} entradas nesta seção">
          <i class="file alternate icon"></i>
          {{ subsection_pages }}
        </div>
      </h1>
    </header>
    <main class="ui bulleted list">
      {% if subsection.pages %}
        {% for page in subsection.pages | slice(end=3) %}
        <article class="item">
          <div class="content">
            <header class="header"><a href="{{ page.permalink }}">{{ page.title
                }}</a></header>
            <div class="description">{{ page.description }}</div>
          </div>
        </article>
      {% endfor %}
      {% else %}
      <em>&mdash; (Nenhum projeto nesta seção)</em>
      {%- endif %}
    </main>
    {% if subsection_pages > 3 %}
    <a class="ui tertiary button" href="{{ subsection.permalink }}"><i class="grip vertical icon"></i>Ver
        todas as entradas</a>
    {% endif %}
  </section>
  {%- endfor %}
{% endblock page_content %}
<!-- <div class="container max-w-3xl mx-auto px-4">
  <header>
    <div class="font-sans py-8">
      <h1 class="font-bold font-sans break-normal text-gray-900 pb-2 text-3xl md:text-4xl">{{ section.title }}</h1>
    </div>

    <article class="prose prose-indigo prose max-w-3xl">
      {{ section.content | safe }}
    </article>
  </header>

  <main>
    <div class="prose py-4">
      <h2>Trabalhos de Conclusão de Curso</h2>
    </div>

    <div class="prose py-2">
      <h3>Monografias</h3>
    </div>

    <ul>
      {%- for page in section.pages | filter(attribute="extra.type", value="These") %}
      <li class="pb-3">
        {{ publication::publication_summary(page=page) }}
      </li>
      {%- else %}
      <li class="pb-3 text-gray-500">Nenhum projeto nesta seção no momento.</li>
      {%- endfor %}
    </ul>

    <div class="prose py-2">
      <h3>Projetos</h3>
    </div>

    <ul>
      {%- for page in section.pages | filter(attribute="extra.type", value="Research") %}
      <li class="pb-3">
        {{ publication::publication_summary(page=page) }}
      </li>
      {%- else %}
      <li class="pb-3 text-gray-500">Nenhum projeto nesta seção no momento.</li>
      {%- endfor %}
    </ul>

    <div class="prose py-4">
      <h2 class="">Outras Orientações Acadêmicas</h2>
    </div>

    <ul>
      {% for page in section.pages %}
      {% if page.extra.type == "Education" or page.extra.type == "Social" %}
      <li class="pb-3">
        {{ publication::publication_summary(page=page) }}
      </li>
      {%- endif %}
      {%- endfor %}

      {# Necessário pois não descobri como filtrar por uma condição complexa. Além de ser difícil fazer o teste de outra
      forma... #}
      {% set entries = section.pages | filter(attribute="extra.type", value="Tool") | length %}
      {% set entries = section.pages | filter(attribute="extra.type", value="Process") | length + entries %}
      {%- if entries == 0 %}
      <li class="pb-3 text-gray-500">Nenhum projeto nesta seção no momento.</li>
      {%- endif %}
    </ul>
  </main>
</div> -->
