{% import 'macros/languages.html' as l10n -%}

{% import 'macros/head.html' as macros_head %}
{% import 'macros/nav.html' as macros_nav %}
{% import 'macros/macros.html' as macros %}
{% import 'macros/icons.html' as icons %}
{% import 'macros/images.html' as macros_image %}
{% import 'macros/blog.html' as blog %}
{% import 'macros/publication.html' as publication %}

{% set section = load_data(path=current_path ~ "_index.md", required = false) %}

<!DOCTYPE html>
<html lang="pt">

<head>

  {% set favicon = resize_image(path=config.extra.favicon, format="png", width=32, height=32) %}
  <link rel="shortcut icon" href="{{ favicon.url }}" type="image/png">
  <link rel="icon" href="{{ favicon.url }}" type="image/png">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  {% block head %}
  <meta charset="utf-8">

  {% block fomantic_ui %}
    {{ macros_head::fomanticui(modules=[]) }}
  {% endblock %}
  {% block katex %}
    {{ macros_head::katex(autorender=config.extra.katex_auto_render) }}
  {% endblock %}

  {% block styles %}
  <style type="text/css">
    {% block css_rules %}
      .katex {
        font-size: 1.1em;
      }

      html, body {
        font-size: unset;
      }

      body>main>header {
        margin-bottom: 1.5em;
      }

      body>header {
        margin-bottom: 1em;
      }

      nav#header_nav>ul.ui.menu {
        padding-left: 0;
      }
    {% endblock css_rules %}
  </style>
  {% endblock styles %}


  {% block scripts %}
    <script type="application/javascript">
    {% block js_content %}
    {% endblock js_content %}
    </script>
  {% endblock scripts %}

  {% block title %}
    <title>{% if section %}{{ section.title }} | {% endif %} {{ config.title }}</title>
  {% endblock title %}

  {% endblock head %}
</head>

<body class="ui container">
  {% block header %}
    {% include "partials/header.html" %}
  {% endblock header %}

  {#
  <!-- !FIXME Remover gambiarra da margem -->
  #}
  <!-- Container -->
  <main>
    {% block page_title %}
    {% endblock page_title %}
    
    {% block page_content %}
      <section>
        {% if section %}
          {{ section.content | safe }}
        {% elif page %}
          {{ page.content | safe }}
        {% endif %}
      </section>
    {% endblock page_content %}
  </main>

  {% block footer %}
    {% include "partials/footer.html" %}
  {% endblock footer %}

  {% block after_footer %}
  {% endblock %}

</body>

</html>