{% extends "titled_page.html" %}

{% import 'macros/project-entries.html' as project %}

{% block nav %}
{{ macros_nav::top_nav(website_title=config.title, extra_items=config.extra.menu_items, active_item=section.title) }}
{% endblock nav %}

{% block styles %}
{{ super() }}
<style type="text/css">
  .column:not(:first-of-type) .relaxed-header {
    margin-top: 2em;
  }

  .relaxed-header {
    margin-bottom: 1em;
  }
</style>
{% endblock %}


{% block page_content %}
<section class="ui basic fitted segment">
  {{ section.content | safe }}
</section>
{{ project::render_section(section=section) }}
{% endblock page_content %}